# Anthropic (claude.ai/settings/keys)
ANTHROPIC_API_KEY=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

# Twilio (twilio.com/console)
TWILIO_SID=AC4c8b72a5f00c027987e55f03c42ed4ed
TWILIO_TOKEN=58957d7e0818ced531c42745c6d4ae1f
TWILIO_FROM=+16626861650

# ElevenLabs (elevenlabs.io/profile)
ELEVEN_KEY=sk_c20931fee41a26fc9f64d86f192e5f5e7e4a20f910542605fa0b67bde648ad48
ELEVEN_VOICE_ID=0gLtBAv1PwhPVRIKusqu

# Сервер
SERVER_URL=http://localhost:3000
PORT=3000
